
body{font-family: Roboto;}

/*---header---*/
.header{color: var(--title-text-color);}
.header-list{font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;

    color: #212121;}



